<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>MyMundus - Settings</title>
		<link rel="stylesheet" href="../css/settings.css" />
		<script src="../js/jquery.min.js" ></script>
		<script src="../js/angular.min.js" ></script>
		<script src="../js/settings.js" ></script>
	</head>
	<body>
		<div id="fb-root"></div>
		<div class="wrapper">
			<div class="header">
				<div class="content">
					<div class="logo">
						<a target="_blank" href="http://www.mymundus.com/">
							<img src="../img/logo.png">
						</a>
					</div>
					<div class="nav">
						<ul>
							<li>
								<a href="settings.html">History Settins</a>
							</li>
							<li>
								<a href="">Tag Settins</a>
							</li>
							<li>
								<a href="feedSettings.html">Feed Settins</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="main" ng-app="myMundus" ng-controller="TagController as tag">
				<div class="content">
					<div  data-bind="tags">
						<ul>
							<li ng-repeat="tag in tags">
								{{tag}}
								<!-- <a href="{{h.url}}">
									{{h.title}}
								</a> -->
							</li>
						</ul>
					</div>
					<div class="tagForm">
						<form>
							<input type="text" ng-model="tag.tag">
							<button ng-click="addTag()">Add Tag</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>